raml file from design center/xpapi/xpapi1.0.1/src/main/mule/Implementation/post-customer-state-implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:request-config name="HTTP_Request_configuration_for_sapi_request" doc:name="HTTP Request configuration" doc:id="2a54e845-6612-4a6a-9d3d-a46332b5d256" >
		<http:request-connection host="${requester.host}"/>
	</http:request-config>
	<flow name="post-customer-state-implementationFlow" doc:id="d84243af-1918-4aaa-b3cd-5b2f8769fe7a" >
		
		<logger level="INFO" doc:name="Start Request Logger" doc:id="59ad3c84-bc22-43e6-9e57-7c2875328de7" message="Start Request Logger"/>
		<http:request method="POST" doc:name="Request" doc:id="c6ba0816-c636-4d44-8aed-b4095e37aa3d" config-ref="HTTP_Request_configuration_for_sapi_request" path='${requester.path}'>
			<http:body ><![CDATA[#[vars.requestPayload]]]></http:body>
			<http:headers ><![CDATA[#[output application/java
---
{
	"x-cms-transactionId" : vars.headers.'x-cms-transactionId',
	"clientID": "clientID",
	"clientSecret": "clientSecret"
}]]]></http:headers>
		
</http:request>
		<logger level="INFO" doc:name="End Request Logger" doc:id="52986bb7-f4bd-419a-9cbf-b49e258c4ce2" message="End Request Logger"/>
		
		
		<ee:transform doc:name="Transform Message" doc:id="970e96fe-ed66-4269-b079-f78252cdfca4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler ref="app-flowglobal-error-handlerError_Handler" />
	</flow>
</mule>
